@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,700&family=Poppins:wght@500;600;700&display=swap');

*{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html{
    font-size: 68.5%;
}

body{
    min-height: 1000px;
}

#banner{
    background-image: url(./images/big\ 1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
    position: relative;
    z-index: 3;
}



.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    max-width: 900px;
    margin: auto;
    z-index: 3;
}


.content h2{
    font-size: 5rem;
    color: #fff;
    margin-bottom: 10px;
    z-index: 10;
}

.content p{
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 15px;
    z-index: 10;
    align-items: center;
}

#banner::after{
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  opacity: 0.4;
  z-index: 1;
}

.btn{
    text-decoration: none;
    font-size: 2rem;
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    background-color: crimson;
    padding: 10px 30px;
    border-radius: 5px;
    transition: 0.2s ease;
    z-index: 10;
}

.btn:hover{
    transform: scale(0.98);
    letter-spacing: 0.2rem;

}

header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 40px 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header .logo{
    font-size: 2.5rem;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}


header .logo span{
    color: crimson;
}

header .navigation{
    position: relative;
}

header .navigation{
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    
}

header .navigation  li{
    list-style: none;
    margin-left: 20px;
    font-size: 1.5rem;
    position: relative;
}
header .navigation li a{
 text-decoration: none;
 color: #fff;
 transition: 1s ease;
}

header .navigation  li a:hover::after,
header .navigation  li a.active::after{
    content: '';
    width: 50%;
    height: 2px;
    background-color: crimson;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.navigation .menu-icon{
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    width: 50px;
    display: none;
}


header.sticky{
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

header.sticky .logo{
    color: #111;
}

header.sticky .navigation li a{
    color: #111;
}

header.sticky .menu{
    color: #111;
}


section {
    padding: 100px;
}

.row{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.row .col-1{
    position: relative;
    width: 48%;
}

.row .col-1 p{
    font-size: 1.4rem;
    line-height: 2rem;

}

.title-text{
    color: #111;
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.title-text span{
    color: crimson;
}

.col-1 p{
    font-size: 1.3rem;
    font-weight: 200;
}


.row .col-1 .imgBx{
  position: relative;  
  width: 100%;
  height: 100%;

}

.row .col-1 .imgBx img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;  
  height: 100%;
  object-fit: cover;
  border-radius: 5px;

}

 .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: #fff;
    font-size: 2.5rem;
}



.menu .box{
    flex-basis: 30%;
    margin: 10px 10px ;
    padding: 25px;
    
}

.menu .box img{
    width: 100%;
    object-fit: cover;
    min-width: 300px;
    max-width: 450px;
    border-radius: 5px;
}


.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container h3{
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 15px;
}

.menu .title p{
 font-size: 2rem;
 font-weight: 200;
}
.container .box-2{
    width: 25%;
    min-width: 250px;
    padding: 25px;
}

.container .box-2 img{
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    transition: 1s ease;
}

.container .box-2 img:hover{
    transform: scale(0.90);
}


.container .box-3{
    width: 30%;
    min-width: 250px;
    padding: 25px;
}

.testimonials .box-3 .title h2{
 color: #fff;
}

.testimonials .box-3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .box-3 img{
   width: 80px;
    object-fit: cover;
    border-radius: 5px;
    transition: 1s ease;
    border-radius: 80%;
}

.testimonials{
    background: url(./images/bigop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.testimonials .container p{
    color: #fff;
    font-size: 1.2rem;
    font-style: italic;
}

.testimonials .container h3{
    color: 
    #fff;
    text-align: center;
}

.testimonials .container .box-3 .ratings{
    color: crimson;
    margin-top: 10px;
    text-align: center;
}

.contact-container{
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
    padding: 75px 50px;
}

.contact-container h3{
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: 500;
    color: #555;
    text-align: center;
}

.contact-form input, .contact-container textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    color: #111;
    outline: none;
    border: 1px solid #555;
    border-radius: 5px;
    font-size: 1.5rem;
    resize: none;
}

.contact-container button{
    font-size: 1.5rem;
    padding: 10px;
    outline: none;
    background-color: crimson;
    border: none;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
}





@media(max-width:991px){
    html{
        font-size: 78.5%;
    }

    .title-text{
        text-align: center;
    }
    section {
            padding: 30px;
        }
    
    header,
    header.sticky{
        padding: 10px 20px;
    }
 header .navigation{
    display: none;
 }

 .menuToggle{
    position: relative;
    height: 40px;
    width: 40px;
    background: url(./images/menu\ 2.jpg);
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    z-index: 99999;
 }

 .menuToggle.active{
    background: url(./images/close2.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px;
    z-index: 99999;
 }

 header .navigation.active{
    width: 100%;
    height: calc(100% - 68px);
    position: fixed;
    top: 68px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
 }

  header .navigation ul.active{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  header .navigation li {
    color: #111;
    font-size: 1.6rem;
    margin-bottom: 20px;
    font-weight: 500;
  }
   header .navigation li a{
    color: #111;
   }
 header.sticky .menuToggle {
    filter: invert(1);
 }

    .row{

         flex-direction: column;
    }
  .row .col-1{
    width: 100%;
  }

  .row .col-1 .imgBx{
    width: 100%;
    height: 300px;
    margin-top: 20px;
  }

  .container .box-2{
        width: 50%;
         min-width: 200px;
        padding: 15px;
  }
}


@media (max-width: 768px){
    html{
        font-size: 78.5%;
    }
.menu .box{
    flex-basis: 20%;
    margin: 5px 5px;
    padding: 10px;
}

 .container .box-2 {
     width: 45%;
     min-width: 200px;
     padding: 5px;
 }
}


@media(max-width: 430){

}






